body {
	font-size: 15px;
	font-family: 'Roboto Mono', monospace;
  padding-top: 50px;
  padding-bottom: 20px;
	background-color: #CBE5F7;
}
.navbar-nav {
	font-size: 14px;
}

a{
	color: #00F;
}
footer {
	font-size: 14px;
  padding-top: 30px;
}
table.overview {
  display: block;
  overflow: scroll;
}
/***** Navbar ******/
.navbar-inverse {
  background-color: #CBE5F7;
  border-color: #808080;
}
.navbar-inverse .navbar-toggle {
	background-color: #CBE5F7;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #000;
}
.navbar-inverse .navbar-toggle:hover .icon-bar {
	background-color: #CBE5F7;
}
.navbar-inverse .navbar-brand {
  color: #000;
}
.navbar-inverse .navbar-brand:hover {
  color: #000;
  text-decoration: underline;
}
.navbar-inverse .navbar-nav > li > a {
  color: #000;
  font-weight: 300;
}
.navbar-inverse .navbar-nav > li > a:hover{
  color: #000;
  text-decoration: underline;
}
.navbar-inverse .navbar-nav > li > a:focus{
  color: #000;
}
.navbar-inverse .navbar-nav > .open >a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  color: #000;
  background-color: #CBE5F7;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #000;
  background-color: #CBE5F7;
}
/* outdated notice */
.navbar .container .alert-warning {
	margin-bottom: 0;
}
.container.outdated {
	margin-top: 5.5em;
}

.container img{
	/* object-fit: cover; */
	max-width:100%;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #DFECF4;
}
.dropdown-menu {
	background-color: #CBE5F7;
}
.table-striped>tbody>tr>td{
	border: 0;
}

h1, h2, h3 {
    margin-top: 50px;
    margin-bottom: 10px;
}

footer{
	font-size:8px;
}
